div {
  font-size: 25px;
  color: rgb(255, 255, 255);
 
  width:98%;
  height: fit-content;

}

#div0 {
 
  height: 100vh;
  background-color: rgb(6, 28, 46);
  

}


#inputtemp{
  background-color: rgb(4, 2, 24);
  width: fit-content;
  font-size: 20px;
  color: rgb(247, 242, 242);

}
table , tr,td{
  border: 0.5px solid rgb(93, 94, 78);
  border-radius: 5px;
  border-collapse: collapse;

  width: fit-content;
}

#a{
  
  width: 0px;
  height: 0px;
}



